@model dotnet_project.Models.DTO.RegistrationModel
  
@{

}

<form class="w-40" asp-action="Register" method="post">
    <div class="input-container">
        <label asp-for="Email" class="w-40">Email</label>
        <input type="text" class="input" asp-for="Email">
    </div>
   
    <div class="input-container">
        <label asp-for="Username" class="w-40">Username</label>
        <input type="text" class="input" asp-for="Username">
    </div>
 
 
    <div class="input-container">
        <label asp-for="Name" class="w-40">Name</label>
        <input type="Name" class="input" asp-for="Name">
    </div>
   
    <div class="input-container">
        <label asp-for="Password" class="w-40">Password</label>
        <input type="password" class="input" asp-for="Password">
    </div>
    
    <div class="input-container">
        <label asp-for="PasswordConfirm" class="w-40">PasswordConfirm</label>
        <input type="password" class="input" asp-for="PasswordConfirm">
    </div>

    <div class="form-group">
        <label for="Role">Role</label>
        <select asp-for="Role" class="form-control">
            <option value="user">User</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <div class="input-container">
        <button class="btn btn-default" type="submit">Register</button>
        @*<a class="btn btn-sec" href="#">Add more</a>*@
    </div>
</form>