@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>about us</h2>
<p>The Components Of A Great About Us Page
There isn’t a winning template to create a great About Us page. However, there are key components to make a convincing pitch with your brand story.

Your Mission
You don’t need to outright say, “our mission is ____,” but you should convey the mission of your business in your About Us copy. This is key for attracting talent, as well as leads that have Corporate Social Responsibility (CSR) goals.</p>
